
body {
    font-family: Arial, sans-serif;
    background-color: #f58f8f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#task-list {
    max-width: 400px;
    width: 100%;
    background-color: rgb(68, 168, 201);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

#task {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.task-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.task-item span {
    flex-grow: 1;
    margin-right: 10px;
}

.task-item button {
    background-color: #f44336;
}

.task-item button:hover {
    background-color: #d32f2f;
}